@model sz.Models.Simulacao

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Simulacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeSimulacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeSimulacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ml_por_cento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ml_por_cento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ml_oleo_essencial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ml_oleo_essencial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lucro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lucro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco_Parcial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco_Parcial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Margem_lucro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Margem_lucro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Frasco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Frasco.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acessorio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acessorio.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
