@model sz.Models.OleoEssencial

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OleoEssencial</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ml)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ml)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor_Compra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor_Compra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco_Gota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco_Gota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Validade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Validade)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
